node_modules
.next
.trae
.git
.gitignore
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea
coverage
admin
Dockerfile
docker-compose.yml
docker-compose*.yml
README.md
lint_output.txt
api.rest
